---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: "%d/%m/%Y" }}</time>
  <div class="post-tags"><a href="#">Patrones de diseño</a>, <a href="#">Java</a>, <a href="#">tag1</a></div>  
  <div class="post-share">Twitter</div>  
  {{ content }}
</article>

<aside class="related">
  <h2>Posts relacionados</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d/%m/%Y" }}</time></small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</aside>
